# Build artifacts
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.cmake
/*.a
/*.so
/*.dll
/*.dylib
/*.lib
/*.exe

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
*.user
*.workspace
*.code-workspace

# OS-specific
.DS_Store
Thumbs.db

# Logs / Temp
*.log
*.tmp

# Test binaries
/tests/*.exe
/tests/*.out
/tests/*.o

# Generated images/files (tmeporary for testing)
/stego.png
/recovered.txt